body {
	background-color: rgb(19, 19, 19);
}

.logo img {
	width: 20vh;
}

.logo {
	flex: 1;
}

.main {
	flex: 1;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 0;
	flex: 1;
	/* width: 100vh; */
	/* border: 1px solid white; */
}

.search-section {
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	padding: 0;
	margin: 0;
	flex: 3;
	/* border: 1px solid white; */
}

.search-section .search-bar {
	margin: auto 2vh;
}

.search-bar {
	margin: auto 2vh;
	display: flex;
	flex: 10;
}

.search-bar button {
	border-radius: 0 5vh 5vh 0;
	background-color: rgb(50, 50, 50);
	color: lightgray;
	border: solid gray 1px;
	padding: 1vh;
	margin: 0;
	width: 7vh;
	height: 5.2vh;
	flex: 1;
}

.search-bar input {
	border-radius: 5vh 0 0 5vh;
	padding: 1vh;
	margin: 0;
	background-color: rgb(19, 19, 19);
	color: lightgray;
	border: solid gray 1px;
	height: 3vh;
	flex: 15;
}

.mic {
	background-color: rgb(50, 50, 50);
	color: lightgray;
	border: solid gray 1px;
	width: 5vh;
	height: 5vh;
	border-radius: 5vh;
	margin-top: 0;
	flex: 1;
}

.last-section {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	/* width: ; */
	flex: 1;
	/* border: white solid 1px; */
}

.last-section .create-btn {
	/* flex: 2; */
	/* margin: auto 1vh; */
	background-color:  rgb(50, 50, 50);
	border-radius: 10vh;
	width: 15vh;
	height: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: lightgray;
	text-decoration: none;
}

.create-btn i {
	margin: auto 1vh;
}

.last-section .notification-btn {
	background-color:  rgb(50, 50, 50);
	display: flex;
	justify-content: center;
	align-items: center;
	color: lightgray;
	text-decoration: none;
	width: 5vh;
	height: 5vh;
	border-radius: 4vh;
	/* flex: 1;
	margin: auto 1vh; */
}

.last-section .profile {
	/* background-color:  rgb(50, 50, 50); */
	display: flex;
	justify-content: center;
	align-items: center;
	color: lightgray;
	text-decoration: none;
	font-size: 5vh;
	/* flex: 2;
	margin: auto 1vh; */
}

nav {
	display: flex;
	flex-direction: column;
	/* height: 100%; */
	/* border: white solid 1px; */
	height: 100vh;
	justify-content: flex-start;
	/* flex: 1; */
	width: 12vh;
}

nav li{
	list-style: none;
	color: lightgrey;
	margin-bottom: 2vh;
	padding: 0;
	/* flex: 1; */
}

li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	/* font-size: smaller; */
}

nav ul {
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	display: flex;
	font-family: Arial, Helvetica, sans-serif;
}

nav li:first-child {
	height: 5vh;
}

nav i {
	font-size: x-large;
	margin-bottom: 1vh;
}

nav label {
	font-size: x-small;
}
