ul {
	display: flex;
	justify-content: space-between;
}

li {
	list-style: none;
	/* border: solid black 1px; */
}

#Logo li {
	justify-self: flex-start;
	background-color: red;
	border-radius: 20px;
	width: 20px;
	height: 20px;
}

#Items {
	display: flex;
	justify-content: space-between;
	width: 50%;
}

