.parent {
	display: flex;
	width: 50%;
	flex-wrap: wrap;
	height: 50%;
	/* align-content: stretch; */
}

.box {
	background-color: steelblue;
	color: white;
	margin: 1vh;
	height: 5vh;
	border-radius: 1vh;
	display: flex;
	align-items: center;
	padding: 1vh;
	font-size: 5vh;
	width: fit-content;
	border: solid 3px teal;
	flex: 1;
	white-space: nowrap;
}
